<div class="row">
  <div class="col-md-12 text-center">
    <h1>Choose an Event Type</h1>
  </div>
</div>

<div class="row">

  <div class="col-md-3 event-img">
    <figure>
      <a href="<%= new_wedding_path %>">
          <img src="/images/wedding.jpg" alt="img01">
          <figcaption>
            <h3>Wedding</h3>
          </figcaption>
      </a>
    </figure>
  </div>

  <div class="col-md-3 event-img">
    <figure>
      <a href="#">
        <img src="http://placehold.it/250x250" alt="img01">
        <figcaption>
          <h3>Wedding</h3>
        </figcaption>
      </a>
    </figure>
  </div>

  <div class="col-md-3 event-img">
    <figure>
      <a href="#">
        <img src="http://placehold.it/250x250" alt="img01">
        <figcaption>
          <h3>Wedding</h3>
        </figcaption>
      </a>
    </figure>
  </div>

  <div class="col-md-3 event-img">
    <figure>
      <a href="#">
        <img src="http://placehold.it/250x250" alt="img01">
        <figcaption>
          <h3>Wedding</h3>
        </figcaption>
      </a>
    </figure>
  </div>

</div>

<div class="row">

  <div class="col-md-3 event-img">
    <figure>
      <a href="#">
        <img src="http://placehold.it/250x250" alt="img01">
        <figcaption>
          <h3>Wedding</h3>
        </figcaption>
      </a>
    </figure>
  </div>

  <div class="col-md-3 event-img">
    <figure>
      <a href="#">
        <img src="http://placehold.it/250x250" alt="img01">
        <figcaption>
          <h3>Wedding</h3>
        </figcaption>
      </a>
    </figure>
  </div>

  <div class="col-md-3 event-img">
    <figure>
      <a href="#">
        <img src="http://placehold.it/250x250" alt="img01">
        <figcaption>
          <h3>Wedding</h3>
        </figcaption>
      </a>
    </figure>
  </div>

  <div class="col-md-3 event-img">
    <figure>
      <a href="#">
        <img src="http://placehold.it/250x250" alt="img01">
        <figcaption>
          <h3>Wedding</h3>
        </figcaption>
      </a>
    </figure>
  </div>

</div>