<div class="row">
  <div class="col-md-12">
    <h1>My events</h1>
  </div>
</div>

<div class="row">
  <% @event.each do |event| %>
      <div class="col-md-12">
        <%= link_to event.name, "/e/#{event.slug}" %>
      </div>
  <% end %>
</div>
