// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'pages';
@import 'events';

@import 'event_specific/weddings';

body {
  font-family: 'Roboto';
  background: #fffcff;
}

h1 {
  font-weight: 400;
}
h2 {
  font-weight: 300;
}