<div class="row">
  <div class="col-md-12 text-center">
    <h1>Nothing here yet</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <p>Sorry but there's nothing here yet. If I had a fail whale this would be the place for it.</p>
  </div>
</div>